.container{
    display: flex;
}
.onThisDay{
    background-color: lightblue;
    width: 400px; 
    border-radius: 10px;
    margin-left:20px;
    margin-top: 20px;
}

.announcement{
    background-color: lightblue;
    height: 90px; 
    width:400px; 
    overflow:auto;
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 10px;

}

.aggregatedFeatured{
    background-color: lightblue;
    flex: 1;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}
.recommendedTopics{
    background-color: cyan;  
    padding: 10px 0;
    border-radius: 10px;
    margin-top:20px ;
    margin-left: 20px;
    margin-right: 20px;
}