<div class="RecommendedTopics"> <p>Popoular Leaders, Actors and Places: Explore These Topics for More Information</p>

   <ul>
         <li> <a [routerLink]="['viewpage','Narendra_Modi']">Narendra Modi</a> </li>
         <li> <a [routerLink]="['viewpage','Rishi_Sunak']">Rishi Sunak</a> </li>
         <li> <a [routerLink]="['viewpage','Joe_Biden']">Joe Biden</a> </li>
         <li> <a [routerLink]="['viewpage','Vladimir_Putin']">Vladimir Putin</a> </li>
         <li> <a [routerLink]="['viewpage','Justin_Trudeau']">JustinTrudeau</a> </li>
         <br>
         <li> <a [routerLink]="['viewpage','Amitabh_Bachchan']">Amitabh Bachchan</a> </li>
         <li> <a [routerLink]="['viewpage','Shah Rukh Khan']">Shah Rukh Khan</a> </li>
         <li> <a [routerLink]="['viewpage','Shraddha_Kapoor']">Shraddha Kapoor</a> </li>
         <li> <a [routerLink]="['viewpage','Anushka_Sharma']">Anushka Sharma</a> </li>
         <li> <a [routerLink]="['viewpage','Mahesh_Babu']">Mahesh Babu</a> </li>
         <br>
         <li> <a [routerLink]="['viewpage','Omkareshwar']">Omkareshwar</a> </li>
         <li> <a [routerLink]="['viewpage','kedarnath']">kedarnath</a> </li>
         <li> <a [routerLink]="['viewpage','Ladakh']">Ladakh</a> </li>
         <li> <a [routerLink]="['viewpage','Hampi']">Hampi</a> </li>
         <li> <a [routerLink]="['viewpage','Mahabaleshwar']">Mahabaleshwar</a> </li>
   </ul>
</div>


<router-outlet> </router-outlet>