<body>
       <p> Popoular Leaders, Actors and Places: Explore These Topics for More Information. </p>
      <div class="topic">
           <a [routerLink]="['viewpage','Narendra_Modi']">Narendra Modi</a>
      </div>
      <div class="topic">
           <a [routerLink]="['viewpage','Rishi_Sunak']">Rishi Sunak</a>
      </div>
      <div class="topic">
           <a [routerLink]="['viewpage','Joe_Biden']">Joe Biden</a>
      </div>
      <div class="topic">
            <a [routerLink]="['viewpage','Vladimir_Putin']">Vladimir Putin</a>
       </div>
       <div class="topic">
            <a [routerLink]="['viewpage','Justin_Trudeau']">JustinTrudeau</a>
       </div>
       <br>
       <div class="topic">
            <a [routerLink]="['viewpage','Amitabh_Bachchan']">Amitabh Bachchan</a> 
       </div>
       <div class="topic">
            <a [routerLink]="['viewpage','Shah Rukh Khan']">Shah Rukh Khan</a>
       </div>
       <div class="topic">
             <a [routerLink]="['viewpage','Shraddha_Kapoor']">Shraddha Kapoor</a> 
       </div>
       <div class="topic">
            <a [routerLink]="['viewpage','Anushka_Sharma']">Anushka Sharma</a>
        </div>
        <div class="topic">
            <a [routerLink]="['viewpage','Mahesh_Babu']">Mahesh Babu</a>
        </div>
       <br>
       <div class="topic">
            <a [routerLink]="['viewpage','Omkareshwar']">Omkareshwar</a>
       </div>
       <div class="topic">
            <a [routerLink]="['viewpage','kedarnath']">kedarnath</a> 
       </div>
       <div class="topic">
            <a [routerLink]="['viewpage','Ladakh']">Ladakh</a>
       </div>
       <div class="topic">
             <a [routerLink]="['viewpage','Hampi']">Hampi</a>
        </div>
        <div class="topic">
            <a [routerLink]="['viewpage','Mahabaleshwar']">Mahabaleshwar</a> 
        </div>
</body>


