<p>Today's Birth!</p>
<div *ngFor="let item of displayData" class="container">
     <img src={{item.thumbnail}} alt="Image not found" class="thumbnail">
     <div class="content">
         <ul> <li> {{item.name}}</li>
         <li> {{item.description}}</li>
         </ul>
     </div>
</div>

<p>Today's Death!</p>
<div *ngFor="let item of displayDeathData" class="container">
    <img src={{item.thumbnail}} alt="Image not found" class="thumbnail">
    <div class="content">
        <ul> <li> {{item.name}}</li>
        <li> {{item.description}}</li>
        </ul>
    </div>
</div>
