<p>Today's Birth!</p>
<div *ngFor="let item of displayData" class="container">
   
        <img src={{item.thumbnail}} alt="Image not found"  style="margin-bottom:10px; margin-left: 10px;   height: 70px; width: 70px;border-radius: 5px; "  >
              <ul>
                <li> {{item.name}}</li>
                <li> {{item.description}}</li>
              </ul>
     </div>     


<p style="margin-top: -5px;">Today's Death!</p>
<div *ngFor="let item of displayDeathData" class="container">
    <img src={{item.thumbnail}} alt="Image not found"  style="margin-left: 10px; margin-bottom: 10px;  border-radius: 5px;"  width="70px" height="70px">
    <div class="content">
        <ul> <li> {{item.name}}</li>
        <li> {{item.description}}</li>
        </ul>
    </div>
</div>
