p{
    padding-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-family: "Calibri"
}
li{
    list-style-type: none;
    font-family: "Calibri"

}
.container{
    display: flex;
    align-items: center;

}
.thumbnail{
    margin-left: -20px;
    height: 70px;
    width: 70px;
    border-radius:10px;
    object-fit: contain; 
} 
.content{
    flex:2;
    margin-right: 20px;
    
}
