body{
     /* margin: -10px; */
     margin-left:20px;
     margin-top: 20px;
     margin-right: 20px;
     font-family: "Calibri";
     font-size: 1.1rem;
    
    }
footer {
    background-color: #37475a; 
    border-radius: 10px;
    color: #fff; 
    padding: 20px 0; 
  }
  
  .footer-content {
    text-align: center; 
  }
  
  p {
    margin: 0; 
  }
  